{% extends 'base_admin.html.twig' %}

{% block title %}Novo Membro{% endblock %}

{% block body_admin %}
    <div class="x_panel">
        <div class="x_title">
            <div class="nav navbar-right">
                <a class="btn btn-link" href="{{ path('admin_members_list') }}">
                    <i class="fa fa-arrow-circle-left"></i> Voltar para Listagem
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ include('admin/members/_form.html.twig') }}
        </div>
    </div>

{% endblock %}